@font-face {
    font-family: Olde-sans;
    src: url('./fonts/OldeEnglish.ttf');
}


.container-nav img{
    display: none;
}


ul {
    display: flex;
    background-color: #fff;
}



#carouselExampleRide{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    overflow-x: hidden;
    height: 100%;


    margin: 0 auto;
}

header{
    max-width: 100dvw;
    max-height: 88px;
    padding: 24px 96px;
    font-family: "Cardo", serif;
    box-shadow: 0 1px 15px rgba(47, 47, 47, 0.10);    
    background-color: #fff;

}

.container{
    max-width: 1440px;
    margin: 0 auto;   
}

header h1{
    min-width: 250px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08rem;
    padding: 8px 0;

}

header nav{
    display: flex;
    justify-content: space-between;
}
ul {
    padding: 0 410px;
    display: flex;
    list-style: none;

}

ul li{
    padding-right: 24px ;
}

nav a{
    height: 40px;
    font-size: 24px;
    color: #474747;
    max-width: 111px;
    padding: 8px 24px;
    text-decoration: none;
}


#about {
    height: 288px;
    padding: 80px 96px;
    width: 100%;
    min-height: 968px;
    padding-top: 800px;
    justify-content: space-between;
    padding: 80px 96px;
    display: flex;
}





#about .container  p.contP{
    margin-bottom: 0;
    padding-bottom: 16px;
    min-width: 616px;
    font-size: 16px;
    color: #474747;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    font-family: "Mate", serif;
}



#about span{
    color: #474747;
    font-style: italic;
    height: 10px;
    display: inline-block;
    font-weight: 400;
    min-width: 616px;
    font-family: 'Mate', serif;
    letter-spacing: 0.04rem
}

#about .container2  span.contPC{
    min-width: 616px;
    font-size: 16px;
    letter-spacing: 0.04rem;
}

#about h1{
    color: #010101;
    font-weight: 700;
    max-width: 616px;
    min-height: 64px;
    margin-top: 0;
    font-size: 64px;
    font-family: "Cormorant Garamond", serif;
    margin-bottom: 16px;
    

    
}


#game-img{
    max-width: 511px;
    gap: 0px;
    opacity: 0px;
    padding-left: 121px;
    margin-right: 96px;
    max-height: 764px;
}


#game-img img{
    padding-top: 21px;
    max-width: 511px;
    min-width: 511px;
    max-height: 764px;
}

#about .Syn .container p{
    min-width: 616px;
    min-height: 48px;
    max-height: 168px;
}




.contP{
    min-width: 616px;
    max-height: 192px;
    padding-left: 0;
    
}
.contP2{
    min-width: 616px;
    padding-left: 0; 
}

#Syn .contP2 p{
    color: #474747;
    max-width: 616px;
    min-width: 616px;
    margin-bottom: 0;
    margin-top: 22px;
}

#about p.contPC {
    color: #020283;
    margin-top: 0;
    font-size: 16px;
    min-height: 168px;
    min-width: 616px;
    
    
}

#about p.contPCs {
    color: #020283;
    margin-top: 0;
    font-size: 16px;
    font-style: italic;
    min-height: 96px;
    max-height: 96px;
    min-width: 626px;
    
    
}
#about span.contPC{
    margin-bottom: 0;
    min-height: 48px;
    color: #020283;
    font-size: 16px;
    max-height: 96px;
    letter-spacing: 0.04rem;

}


#about span{
    padding-bottom: 48px;
}



#about .container2 h2{
    width: 616px;
    height: 32px;
    font-family: "Cardo", serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 0.02em;
    text-align: left;
    color: #010101;
    
}



#links{
padding: 0 0;
}


#links button{
    background-color: #D7D7FE;
    border: none;
    width: 147px;
    height: 48px;
    padding: 12px 48px;    
    border-radius: 8px;
    margin: 48px 24px 0 0 ;    
}


#links button a{
    width: 54px;
    height: 24px;
    text-align: center;
    font-weight: 400;
    color: #0E0EFB;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Crimson Text' serif;
    text-decoration: none;
} 

#about .container{
    max-height: 808px;
}


.divider img{
    width: 100%;
    height: 37px;

}

.divider{
    display: flex;
    height: 37px;

}


#contestants .title h1{
    text-align: center;
    line-height: 64px;
    font-weight: 700;
    font-size: 64px;
    padding-top: 80px;
    font-family: "Cormorant Garamond", serif;
}

#contestants .charBio{
    display: flex;
    align-items: center;
    margin-top: 48px;
    width: 1038px;
    max-height: 613px;
}

#charAtual{
    padding-left: 9px;
    width: 282px;
    height: 613px;
    padding-top: 58px;
    background-image: url("./images/BackgroundContainer/BackContainerSelect.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
} 

.Caracteristica {
    padding-left: 48px;
    margin-top: 19px;
    margin-left: 16px;
    margin-bottom: 0;
    height: 613px;
    color: #fff;
    font-family: 'Mate', serif;
    background-color: #524F64;
}

.Caracteristica h1 {
    text-align: start;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    margin-top: 40px;    
    font-family: Olde-sans;

}

.Caracteristica h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: 'Cardo', sans-serif;
    letter-spacing: 0.02rem;
}

.Caracteristica .container{
    max-height: 740px;
}


.dividerLine  img{
    margin-top: 24px;
    height: 1px;
    width: 626px;
}


.info{
    margin-top: 24px;
    padding-left: 0;
}


.info p{
    width: 626px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04rem;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Mate', serif;
    
}


.info p.p2{
    height: 144px;

}


.container5{
    display: flex;
    width: 1038px;
}

.container5 img{
    max-height: 132px;
    max-width: 132px;
    margin-top: 40px;
    margin-left: 16px;
    &:hover{
        cursor: pointer;
        filter: brightness(2.2);
    }
}

.container6{
    display: flex;
    width: 1038px;
}

.container6 img{
    max-height: 132px;
    max-width: 132px;
    margin-top: 16px;
    margin-left: 16px;
    &:hover{
        cursor: pointer;
        filter: brightness(2.2);
    }
}

.divider2{
    display: flex;
    margin-top: 80px;
    height: 37px;


}

.divider2 img{
    width: 100%;
}

@media screen and (min-width: 1439px) and (max-width: 1650px){
    
.container-nav img{
    display: none;
}



#carouselExampleRide{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    overflow-x: hidden;
    height: 100%;


    margin: 0 auto;
}

header{
    max-height: 88px;

    font-family: "Cardo", serif;
    box-shadow: 0 1px 15px rgba(47, 47, 47, 0.10);    
    background-color: #fff;

}

.container{
    max-width: 1440px;
    margin: 0 auto;   
}

header h1{
    min-width: 250px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08rem;
    padding: 8px 0;

}

header nav{
    display: flex;
    justify-content: space-between;
}
ul {
    padding: 0 410px;
    display: flex;
    list-style: none;

}

ul li{
    padding-right: 24px ;
}

nav a{
    height: 40px;
    font-size: 24px;
    color: #474747;
    max-width: 111px;
    padding: 8px 24px;
    text-decoration: none;
}


#about {
    height: 288px;
    padding: 80px 96px;
    max-width: 1440px;
    min-height: 968px;
    padding-top: 800px;
    justify-content: space-between;
    padding: 80px 96px;
    display: flex;
}





#about .container  p.contP{
    margin-bottom: 0;
    padding-bottom: 16px;
    min-width: 616px;
    font-size: 16px;
    color: #474747;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.04rem;
    font-family: "Mate", serif;
}



#about span{
    color: #474747;
    font-style: italic;
    height: 10px;
    display: inline-block;
    font-weight: 400;
    min-width: 616px;
    font-family: 'Mate', serif;
    letter-spacing: 0.04rem
}

#about .container2  span.contPC{
    min-width: 616px;
    font-size: 16px;
    letter-spacing: 0.04rem;
}

#about h1{
    color: #010101;
    font-weight: 700;
    max-width: 616px;
    min-height: 64px;
    margin-top: 0;
    font-size: 64px;
    font-family: "Cormorant Garamond", serif;
    margin-bottom: 16px;
    

    
}


#game-img{
    max-width: 511px;
    gap: 0px;
    opacity: 0px;
    padding-left: 121px;
    margin-right: 96px;
    max-height: 764px;
}


#game-img img{
    padding-top: 21px;
    max-width: 511px;
    min-width: 511px;
    max-height: 764px;
}

#about .Syn .container p{
    min-width: 616px;
    min-height: 48px;
    max-height: 168px;
}




.contP{
    min-width: 616px;
    max-height: 192px;
    padding-left: 0;
    
}
.contP2{
    min-width: 616px;
    padding-left: 0; 
}

#Syn .contP2 p{
    color: #474747;
    max-width: 616px;
    min-width: 616px;
    margin-bottom: 0;
    margin-top: 22px;
}

#about p.contPC {
    color: #020283;
    margin-top: 0;
    font-size: 16px;
    min-height: 168px;
    min-width: 616px;
    
    
}

#about p.contPCs {
    color: #020283;
    margin-top: 0;
    font-size: 16px;
    font-style: italic;
    min-height: 96px;
    max-height: 96px;
    min-width: 626px;
    
    
}
#about span.contPC{
    margin-bottom: 0;
    min-height: 48px;
    color: #020283;
    font-size: 16px;
    max-height: 96px;
    letter-spacing: 0.04rem;

}


#about span{
    padding-bottom: 48px;
}



#about .container2 h2{
    width: 616px;
    height: 32px;
    font-family: "Cardo", serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 0.02em;
    text-align: left;
    color: #010101;
    
}



#links{
padding: 0 0;
}


#links button{
    background-color: #D7D7FE;
    border: none;
    width: 147px;
    height: 48px;
    padding: 12px 48px;    
    border-radius: 8px;
    margin: 48px 24px 0 0 ;    
}


#links button a{
    width: 54px;
    height: 24px;
    text-align: center;
    font-weight: 400;
    color: #0E0EFB;
    line-height: 24px;
    font-size: 16px;
    font-family: 'Crimson Text' serif;
    text-decoration: none;
} 

#about .container{
    max-height: 808px;
}


.divider img{
    width: 816px;
    height: 37px;

}

.divider{
    display: flex;
    height: 37px;

}


#contestants .title h1{
    text-align: center;
    line-height: 64px;
    font-weight: 700;
    font-size: 64px;
    padding-top: 80px;
    font-family: "Cormorant Garamond", serif;
}

#contestants .charBio{
    display: flex;
    align-items: center;
    margin-top: 48px;
    width: 1038px;
    max-height: 613px;
}

#charAtual{
    padding-left: 9px;
    width: 282px;
    height: 613px;
    padding-top: 58px;
    background-image: url("./images/BackgroundContainer/BackContainerSelect.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
} 

.Caracteristica {
    padding-left: 48px;
    margin-top: 19px;
    margin-left: 16px;
    margin-bottom: 0;
    height: 613px;
    color: #fff;
    font-family: 'Mate', serif;
    background-color: #524F64;
}

.Caracteristica h1 {
    text-align: start;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    margin-top: 40px;    
    font-family: Olde-sans;

}

.Caracteristica h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: 'Cardo', sans-serif;
    letter-spacing: 0.02rem;
}

.Caracteristica .container{
    max-height: 740px;
}


.dividerLine  img{
    margin-top: 24px;
    height: 1px;
    width: 626px;
}


.info{
    margin-top: 24px;
    padding-left: 0;
}


.info p{
    width: 626px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04rem;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Mate', serif;
    
}


.info p.p2{
    height: 144px;

}


.container5{
    display: flex;
    width: 1038px;
}

.container5 img{
    max-height: 132px;
    max-width: 132px;
    margin-top: 40px;
    margin-left: 16px;
    &:hover{
        cursor: pointer;
        filter: brightness(2.2);
    }
}

.container6{
    display: flex;
    width: 1038px;
}

.container6 img{
    max-height: 132px;
    max-width: 132px;
    margin-top: 16px;
    margin-left: 16px;
    &:hover{
        cursor: pointer;
        filter: brightness(2.2);
    }
}

.divider2{
    display: flex;
    margin-top: 80px;
    height: 37px;

}
}


@media screen and (min-width: 327px) and (max-width: 500px) {
    
    
    nav img{
        width: 40px;
        margin-left: 10%;
    }

    
    header{
        width: 100%;
        margin: 0 0;
        padding: 12px;
    }

    nav h1{
        font-size: 16px;
        max-width: 291px;
    }

    nav{
        max-width: 327px;
        min-height: 72px;
        
    }
    .container-nav{
        display: flex;
    }

    .container-nav img{
        display: block;
    }


    .container{
        margin: 0 0;
        padding: 0 0;
    }
    #menu-hamburger{
        display: flex;
        height: 40px;
        width: 40px;
    }

    header nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    ul {
        padding: 0 0;
        display: block;
        list-style: none;
        margin-top: 40px;
        margin-left: 24px;

        
    }

    #navLink{
        display: none;
    }
    nav a{
        height: 40px;
        font-size: 24px;
        color: #474747;
        max-width: 111px;
        padding: 14px 0px;
        text-decoration: none;
    }

    section #about{
        width: 100vh;
        padding: 80px 0;

    }



    #about{
        padding: 80px 24px;
        margin: 64px 24px;
    }

    #about h1{
        max-height: 36px;
        max-width: 279px;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 0;

    }
    #about p{
        max-width: 279px;
        font-weight: 400;
        font-size: 14px;
        max-height: 80px;
        letter-spacing: 0.04rem;
        line-height: 20px;

    }

    #Syn .container2{
        max-width: 327px;
        max-height: 316px;
        margin: 64px 24px;
        padding: 0;


    }


    .divider {
        padding-top: 120px;
    }

    
    
#Syn .contP2 p{
    color: #474747;
    max-width: 279px;
    min-width: 279px;
    min-height: 290px;
    margin-top: 12px;
    margin-bottom: 0;

}

#about p.contPC {
    color: #020283;
    font-size: 16px;
    min-height: 68px;
    min-width: 279px;
    padding-bottom: 0;
    max-width: 279px;
    
}

#about p.contPCs {
    color: #020283;
    margin-top: 0;
    font-size: 14px;
    font-style: italic;
    min-width: 279px;
    padding-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0;
    max-height: 160px ;
    min-height: 160px;
    
    
}
#about .container2 span.contPC{
    
    
    color: #020283;
    font-size: 14px;
    max-width: 279px;
    min-width: 279px;
    padding-bottom: 40px; 

}



#links button{
    width: 120px;
    padding: 0 24px;
    margin-left: 10px;
}

#links  button a{
    min-width: 40px;
    max-width: 40px;

}

#about h2.h5{
    margin-top: 8px;
    height: 32px;
}

    #game-img {
        max-height: 400px;
        max-width: 29px;
        min-width: 20px;
        padding-left: 0;
        padding-bottom: 400px; 
    }

    #game-img img{
        max-width: 279px;
        min-width: 279px;
        height: 690px;
        margin: 40px 24px;
        padding-top: 260px;

    }

    .divider img{  
        margin-top: 588px;

    }


    #contestants{
        padding-top: 600px;
        width: 100vh;
        margin: 80px 24px;
        
    }

    #contestants h1{
        width: 279px;
        height: 36px;
        font-size: 36px;
        margin-bottom: 24px;
    }

    #contestants .container{
        max-width: 279px;
        min-width: 279px;
    }

    #contestants .container p{
        font-size: 14px;
        max-width: 215px;
    }


    #contestants .charBio{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 48px;
        margin-bottom: 1100px;
        width: 279px;
        max-height: 613px;
        padding-top: 100px;
    }


    

    
    .Caracteristica {
        padding-top: 0px;
        margin-top: 0;
        margin-left: 50px;
        margin-bottom: 0;
        height: 613px;
        color: #fff;
        font-family: 'Mate', serif;
        background-color: #524F64;
    }
    

    .Caracteristica h1 {
        text-align: center;
        text-align: start;
        font-size: 64px;
        margin-left: 32px;
        font-weight: 400;
        line-height: 64px;
        padding: 0;
        margin-top: 0;    
        font-family: Olde-sans;
    
    }
    
    .Caracteristica h3{
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        font-family: 'Cardo', sans-serif;
        letter-spacing: 0.02rem;
    }
    
    .charBio .container{
        min-height: 1000px;
}
    #charAtual{
        margin-left: 24px;
        width: 282px;
        height: 613px;
        padding-top: 58px;
        background-image: url("./images/BackgroundContainer/BackContainerSelect.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: top;
    } 


    #bio2{
        margin-top: 169px;
    }

    #carouselExampleRide{
        display: block;

    }

    body{
        overflow-x: hidden;
        height: 100%;
    }

    .carousel {
    max-width: 279px;
    margin-left: 24px;
    }
    .carousel-item img{
        max-height: 100px;
        max-width: 100px;
        min-width:100px;
        min-height: 100px;
        padding: 0;
        margin: 0;
    }
    .container5{
        display: none;
    }

    .container6{
        display: none;
    }


    .carousel-control-next{
        padding-left: 20px;
        
    }

    .carousel-item .fst-it {
        margin-left: 38px;
    }
    
    .carousel-control-prev{
        padding-right: 8px;
        padding-left: 8px;
        
    }
}

